body {
    margin-top: $navHeight;
    font-family: "lucida grande", "lucida sans unicode", "Helvetica Neue", "Noto Sans", Tahoma,
        "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN Normal", "Heiti SC", "Microsoft YaHei", "Noto Sans CJK", "WenQuanYi Micro Hei", SimSun, sans-serif;
    letter-spacing: 0.03em;
    code, pre {
        font-family: Consolas, Monaco, "Courier New", Courier, monospace;
    }
    .container {
        padding-right: 1em;
        padding-left: 1em;
    }
}