>.container {
    >.white-box {
        padding: 1.2em;
        @media not all and (min-width: $screenMiniTablet) {
            padding-top: $navHeight + 1.2em;
        }
        .loading-part, .failed-part {
            padding: 1em 0;
            text-align: center;
        }
        >.main {
            >.nav {
                border-right: 2px #ccc dashed;
                position: sticky;
                top: $navHeight + 1em;
                @media not all and (min-width: $screenTablet) {
                    position: static;
                    padding-bottom: 1em;
                    margin-bottom: 1em;
                    border: 0;
                }
                >.category {
                    line-height: 2em;
                    >.title {
                        font-weight: bold;
                    }
                    >ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        padding-bottom: 1em;
                    }
                    &:last-child {
                        >ul {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            .markdown-body ol li, .markdown-body ul li {
                margin-top: 3px;
                margin-bottom: 3px;
            }
        }
    }
}