>.container {
    >header {
        >.headline {
            position: relative;
            height: 18em;
            >.inner {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                >h1 {
                    font-family: 'Rubik', sans-serif;
                    text-align: center;
                    color: #fff;
                    margin: 0;
                    font-size: 5em;
                }
                >.description {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.6);
                    margin: 0.6em 0;
                }
            }
        }
    }
}