>.container {
    @media not all and (min-width: $screenMiniTablet) {
        padding: 0;
    }
    >.white-box {
        background-color: #fff;
        padding: 0 1em;
        box-sizing: content-box;
        border-radius: 0.6em;
        box-shadow: rgba(0, 0, 0, 0.32) 0.25em 0.25em 1em 0.25em;
        @media not all and (min-width: $screenMiniTablet) {
            border-radius: 0;
        }
        >h2 {
            margin: 0;
            text-align: center;
            font-size: 1.7em;
            border-bottom: 1px solid #e2e5e9;
            padding: 0.6em 0;
        }
        >.reasons {
            margin: 0 -1em;
            >.point {
                position: relative;
                padding: 1.5em;
                min-height: 9em;
                >img {
                    position: absolute;
                    left: 1.5em;
                    top: 1.5em;
                    width: 6em;
                    @media not all and (min-width: $screenMiniTablet) {
                        width: 5em;
                    }
                }
                >.detail {
                    padding-left: 7.5em;
                    @media not all and (min-width: $screenMiniTablet) {
                        padding-left: 6.5em;
                    }
                    >h3 {
                        margin: 0;
                        margin-bottom: 0.8em;
                        font-size: 1.4em;
                    }
                    >div {
                        line-height: 1.4em;
                        margin-top: -0.2em;
                    }
                }
                @media (min-width: $screenTablet) {
                    &.left-half {
                        padding-right: 0.75em;
                    }
                    &.right-half {
                        padding-left: 0.75em;
                        >.detail {
                            padding-left: 8.25em;
                            @media not all and (min-width: $screenMiniTablet) {
                                padding-left: 7.25em;
                            }
                        }
                    }
                }
            }
        }
        >.widget {
            padding: 1.5em 0;
            @media not all and (min-width: $screenMiniTablet) {
                margin: 0 -1em;
            }
            @media (min-width: $screenTablet) {
                padding: 1.5em 2em;
            }
        }
    }
}