>.container {
    >.white-box {
        background-color: #fff;
        padding: 1em;
        box-sizing: content-box;
        border-radius: 0.6em;
        box-shadow: rgba(0, 0, 0, 0.32) 0.25em 0.25em 1em 0.25em;
    }
}