>.container {
    >.white-box {
        background-color: #fff;
        padding: 0 1em;
        box-sizing: content-box;
        border-radius: 0.6em;
        box-shadow: rgba(0, 0, 0, 0.32) 0.25em 0.25em 1em 0.25em;
        >h2 {
            margin: 0;
            text-align: center;
            font-size: 1.7em;
            border-bottom: 1px solid #e2e5e9;
            padding: 0.6em 0;
        }
        >.reasons {
            >.point {
                position: relative;
                padding: 1.5em;
                >img {
                    width: 6em;
                }
                >.detail {
                    position: absolute;
                    left: 9em;
                    top: 0;
                    padding-right: 1.5em;
                    >h3 {
                        margin: 0.8em 0;
                        font-size: 1.4em;
                    }
                    >div {
                        line-height: 1.4em;
                        margin-top: -0.2em;
                    }
                }
            }
        }
    }
}