>.container {
    >header {
        >.headline {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18em;
            >.inner {
                >h1 {
                    font-family: 'Rubik', sans-serif;
                    text-align: center;
                    color: #fff;
                    margin: 0;
                    font-size: 5em;
                }
                >.description {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.6);
                    margin: 0.6em 0;
                }
            }
        }
    }
}