@charset "UTF-8";

$navHeight:         3.5em;
$columns:           12;
$gutterWidth:       36px;
$columnWidth:       100% / $columns;
$screenMiniTablet:  500px;
$screenTablet:      768px;
$screenDesktop:     992px;
$screenLarge:       1200px;

@import "~@sukka/markdown.css/dist/markdown.css";
@import "~normalize.css";
@import "./fluidable.scss";
@import './body.scss';
@import './nav.scss';
@import './loading-circle.scss';

body {
    background-color: #00251a;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23003827' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='4' cy='4' r='3.5'/%3E%3Ccircle cx='14' cy='14' r='3.5'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    &.home {
        @import './home-header.scss';
        @import './home-info.scss';
    }
    &.doc {
        margin-top: $navHeight + 1em;
        @media not all and (min-width: $screenMiniTablet) {
            margin-top: 0;
        }
        @import './doc.scss';
    }
}