$barAlign: 0.55em;
$barWidth: 1.7em;
$barHeight: 0.25em;
$menuItems: 3;

@mixin bright {
    background-color: rgba(255, 255, 255, .94);
    color: #000;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, .12);
    >.nav-container {
        >.brand {
            >.burger-btn {
                &:focus {
                    .bar {
                        background-color: #000;
                    }
                }
                .bar {
                    background-color: #000;
                }
            }
        }
        >.top-nav {
            >.item {
                >a {
                    color: #000;
                    box-shadow: inset #000 0 0 0 0;
                    @media not all and (min-width: $screenMiniTablet) {
                        box-shadow: unset;
                    }
                    &:hover, &.focus {
                        color: #4db6ac;
                        box-shadow: inset #4db6ac 0 -3px 0 0;
                        text-decoration: none;
                        @media not all and (min-width: $screenMiniTablet) {
                            box-shadow: unset;
                            // background-color: #f2f2f2;
                        }
                    }
                }
            }
        }
    }
    &::before {
        opacity: 0;
    }
}

.top-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $navHeight;
    color: #fff;
    z-index: 10000;
    background-color: rgba(255,255,255,0);
    transition: background-color .23s, box-shadow .23s, transform 0.3s;
    @media not all and (min-width: $screenMiniTablet) {
        height: auto;
        transform: translateY(calc(-3.5em * 3));
        &.opened {
            transform: translateY(0);
        }
    }
    >.nav-container {
        max-width: 960px;
        height: 100%;
        margin: 0 auto;
        >.brand {
            float: left;
            padding: 0 1.2em;
            height: 100%;
            line-height: $navHeight;
            >span {
                font-size: 1.4em;
                font-weight: bold;
                font-family: 'Rubik', sans-serif;
            }
            >.burger-btn {
                display: none;
            }
            @media not all and (min-width: $screenMiniTablet) {
                float: none;
                position: relative;
                >.burger-btn {
                    display: block;
                    appearance: none;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    width: $navHeight;
                    height: $navHeight;
                    position: absolute;
                    background-color: transparent;
                    top: 0;
                    right: 0;
                    &:focus {
                        outline: none;
                        background-color: rgba(255,255,255,0.1);
                        .bar {
                            background-color: #f0f0f0;
                        }
                    }
                    .bar {
                        position: absolute;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                        width: $barWidth;
                        height: $barHeight;
                        border-radius: $barHeight / 2;
                        background-color: #fff;
                        transition: transform 0.15s, background-color 0.15s;
                        &.bar-1 {
                            top: $navHeight / 2 - $barAlign;
                        }
                        &.bar-2 {
                            top: $navHeight / 2;
                        }
                        &.bar-3 {
                            top: $navHeight / 2 + $barAlign;
                        }
                    }
                    &.step-2 {
                        .bar {
                            &.bar-1 {
                                transform: translate3d(-50%, calc(-50% + #{$barAlign}), 0);
                            }
                            &.bar-3 {
                                transform: translate3d(-50%, calc(-50% - #{$barAlign}), 0);
                            }
                        }
                    }
                    &.step-3 {
                        .bar {
                            &.bar-1 {
                                transform: translate3d(-50%, calc(-50% + #{$barAlign}), 0) rotate(45deg) scale(1.2);
                            }
                            &.bar-3 {
                                transform: translate3d(-50%, calc(-50% - #{$barAlign}), 0) rotate(-45deg) scale(1.2);
                            }
                        }
                    }
                    &.step-2-3 {
                        .bar {
                            &.bar-2 {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        >.top-nav {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;
            @media not all and (min-width: $screenMiniTablet) {
                float: none;
            }
            >.item {
                display: inline-block;
                @media not all and (min-width: $screenMiniTablet) {
                    display: block;
                }
                >a {
                    padding: 0 1.2em;
                    display: block;
                    height: $navHeight;
                    line-height: $navHeight;
                    color: #fff;
                    @media (min-width: $screenMiniTablet) {
                        box-shadow: inset #fff 0 0 0 0;
                    }
                    text-decoration: none;
                    transition: color 0.21s, box-shadow 0.21s;
                    &:hover, &.focus {
                        color: #fff;
                        @media (min-width: $screenMiniTablet) {
                            box-shadow: inset #fff 0 -3px 0 0;
                        }
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &::before {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: $navHeight;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .72) 0, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
        opacity: 1;
        transition: opacity .23s;
        content: "";
    }
    &.bright {
        @include bright;
    }
}

body.doc {
    .top-menu {
        @media not all and (min-width: $screenMiniTablet) {
            @include bright;
        }
    }
}

.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}