@mixin bright {
    background-color: rgba(255, 255, 255, .94);
    color: #000;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, .12);
    >.nav-container {
        >.top-nav {
            >.item {
                >a {
                    color: #000;
                    box-shadow: inset #000 0 0 0 0;
                    &:hover, &.focus {
                        color: #4db6ac;
                        box-shadow: inset #4db6ac 0 -3px 0 0;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &::before {
        opacity: 0;
    }
}

.top-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $navHeight;
    color: #fff;
    z-index: 10000;
    transition: background-color .23s, box-shadow .23s;
    // background-color: #fff;
    >.nav-container {
        max-width: 960px;
        height: 100%;
        margin: 0 auto;
        >.brand {
            float: left;
            padding: 0 1.2em;
            height: 100%;
            line-height: $navHeight;
            >span {
                font-size: 1.4em;
                font-weight: bold;
                font-family: 'Rubik', sans-serif;
            }
        }
        >.top-nav {
            @media not all and (min-width: $screenMiniTablet) {
                display: none;
            }
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;
            >.item {
                display: inline-block;
                >a {
                    padding: 0 1.2em;
                    display: block;
                    height: $navHeight;
                    line-height: $navHeight;
                    color: #fff;
                    box-shadow: inset #fff 0 0 0 0;
                    text-decoration: none;
                    transition: color 0.21s, box-shadow 0.21s;
                    &:hover, &.focus {
                        color: #fff;
                        box-shadow: inset #fff 0 -3px 0 0;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &::before {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: $navHeight;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .72) 0, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
        opacity: 1;
        transition: opacity .23s;
        content: "";
    }
    &.bright {
        @include bright;
    }
}

body.doc {
    .top-menu {
        @media not all and (min-width: $screenMiniTablet) {
            @include bright;
        }
    }
}

.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}