.top-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $navHeight;
    color: #fff;
    z-index: 10000;
    transition: background-color .23s, box-shadow .23s;
    &.bright {
        background-color: rgba(255, 255, 255, .94);
        color: #000;
        box-shadow: 0 0 45px 0 rgba(0, 0, 0, .12);
        &::before {
            opacity: 0;
        }
    }
    // background-color: #fff;
    >.container {
        >.brand {
            float: left;
            padding: 0 1.2em;
            height: 100%;
            line-height: $navHeight;
            >span {
                font-size: 1.4em;
                font-weight: bold;
                font-family: 'Rubik', sans-serif;
            }
        }
        >.top-nav {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;
            >.item {
                display: inline-block;
                >a {
                    padding: 0 1.2em;
                    display: block;
                    height: $navHeight;
                    line-height: $navHeight;
                }
            }
        }
    }
    &::before {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: $navHeight;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .72) 0, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
        opacity: 1;
        transition: opacity .23s;
        content: "";
    }
}

.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}